/* ALL RESET */
*{
    margin: 0;
	padding: 0;
	border: 0;
}

/* ALL CODE START */
body{
    background-color: #1B1B1B;
}

header{
    width: 100%;
    height: 350px;
    background-color: #0C0C0C;
    color: white;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.header{
    max-width: 1000px;
    padding-top: 55px;
    margin: auto;
}

header .header .titleline{
    float: left;
    margin-right: 170px;
    border-left: 10px solid rgb(255, 255, 255);
}

.title{
    padding-left: 20px;
    font-size: 100px;
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
}

.subtitle{
    padding-left: 20px;
    font-size: 90px;
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
}

nav ul{
    float: left;
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
    list-style: none;
}

ul li{
    line-height: 52px;
    font-size: 20px;
    background-color: #1B1B1B;
    padding: 8px;
    margin: 4px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}

ul li:hover{
    background-image: url("https://media.giphy.com/media/3ohhwIE0nXiqNTbIsg/giphy.gif");
    background-position: center;
    background-color: #501e1e;
}

ul li a:hover{
    color: #4a00d4;
    font-weight: 700;
}

ul li a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

main{
    max-width: 1000px;
    margin: auto;
    color: white;
    margin-top: 40px;
}

.info{
    background-color: #501e1e;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    width: 940px;
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
    font-size: 22px;
    text-align: justify;
    font-style: italic;
}


/* basic HTML */
table{
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
    margin-top: 50px;
}

table, th, td {
    border-collapse: collapse;
  }


thead{
    color: rgb(167, 9, 69);
    background-color: rgb(250, 249, 183);
    height: 80px;
    text-align: left;
}

thead:hover{
    background-image: url('https://media.giphy.com/media/JF2kUeo4pzOCc/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

th{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20pt;
    padding-left: 40px;
}

.top{
    height: 40px;
}

.top td{
    color: #1B1B1B;
    background-color: rgb(201, 219, 122);
  }

.name{
    padding-left: 20px;
    width: 200px;
    color: #1B1B1B;
    background-color: rgba(247, 158, 158, 0.4)
}

td{
    color: #1B1B1B;
    font-weight: 400;
    padding: 10px 0px 10px 10px;
}

.aa{
    background-color: rgb(243, 242, 242);
}

.bb{
    background-color: rgb(180, 180, 180);
}

#idk{
    margin-top: 50px;
    height: 200px;
    background-image: url('https://media.giphy.com/media/xT9Igfk3xt5vRBG4dG/giphy-downsized-large.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family: 'Futura bk bt' ,Helvetica, sans-serif;
    font-size: 60px;
    line-height: 200px;
    padding-left: 50px;
    border-radius: 20px;
}

footer{
    margin-top: 50px;
    height: 200px;
    width: 100%;
    background-color: #0C0C0C;
    color: white;
    text-align: right;
    line-height: 200px;
}

h3{
    margin-right: 200px;
}
